<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <h1>Bem vindo, {{nome}}!</h1>

    <h2>Categorias!</h2>
    {{#categorias}}
    <div>
        <p>Nome da categoria: {{name}}</p>
    </div>
    {{/categorias}}

    <a href="/categoria/add">Adicionar Categoria</a>
    <br><br>
    <a href="/add-link">Adicionar Link</a>
    <br><br>
    <a href="/links">Ver Links</a>
    <br><br>
    <form action="/logout" method="post">
        <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}">
        <button type="submit">Sair</button>
    </form>
</body>

</html>